<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cost</title>
  {% load static %}
   <link rel="stylesheet" href="{% static 'css/operations_costs.css'%}">
    <style>
        tr:nth-child(even) {
    background-color: rgb(182, 197, 144, 0.5);
}

tr:nth-child(odd) {
    background-color: #f2f2f2
}
    </style>
</head>

<body>
    <div class="wrapper">
        <aside class="sidebar">
            <div class="company">
                {% load static %}
                <a href="/user/home/"><img class='logo-comp' src="{% static 'img/logo2.png' %}" alt="logo"></a>
                <h1 class="app"><a class="link-main" href="/user/home/">Money Control</a></h1>
            </div>

            <div class="reports">
                <a class="active-link-reports" href="/reports/">Reports</a>
            </div>

            <div class="links">
                <a class="active-link" href="/operations/cost/">Cost</a>
            </div>

            <div class="links">
                <a class="active-link" href="/operations/group_cost/">Group cost</a>
            </div>

            <div class="links">
                <a class="active-link" href="/operations/safe/">Safe</a>
            </div>

        </aside>

        <div class="mein-content">
            <div class="header-right">
                <ul class="heager-list">
                    <li class="header-item"><span class="username">{{ user_name }}</span></li>
                    <li class='header-item'><a class="header-link" href="/user/logout/">Exit</a></li>
                </ul>
            </div>
            <div class="changeable-content">
                <form action="/operations/cost/{{cost_id}}/" method="post">{% csrf_token %}
                    <h2 class="title">View and delete cost</h2>
                    <div class="new-cost-group">
                        {% for cost in view_cost %}

                        <input class="box" type="text" name="name" value="{{cost.name}}">
                        <select class="box" name="cost_group_id">
                            <option value="{{cost.cost_group_id.id}}">{{cost.cost_group_id.name}}</option>
                        </select>
                        {% endfor %}
                        <input class="button" type="submit" value="Delete">
                    </div>
                    <br>
                </form>
                <footer>
                    <p class="copyright">Ju © 2023</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>